[2015-05-11 18:56] perlpilot opened #1 "Cannot locate native library 'liblinenoise.so'"
After a fresh install of rakudo, the REPL works fine.  But then after installing Linenoise via panda, I get:

➤ perl6
===SORRY!===
Cannot locate native library 'liblinenoise.so'

I imagine that it's only the documentation aspect that can really be improved here.  For unixy OSen, updating LD_LIBRARY_PATH to contain the path where liblinenoise.so is installed works, but I'm not sure what one would d

[2015-05-11 19:00] hoelzro commented on #1
@perlpilot Thanks for the report; I thought that CURLIs still had issues to resolve around this, but that appears to be fixed!  I'll update the docs to reflect this.

[2015-05-14 00:44] hoelzro commented on #1
This is fixed in the latest MoarVM.

[2015-05-14 00:44] #1 closed

[2015-06-12 14:32] hoelzro opened #3 "Linenoise doesn't block on FreeBSD"
The `fcntl` call to make standard input blocking fails, most likely due to the hardcoding of C constants in `Linenoise.pm`.

[2015-06-12 14:48] hoelzro opened #4 "Use Windows-friendly linenoise"
See https://github.com/MoarVM/linenoise

[2015-06-12 14:50] hoelzro opened #5 "Linenoise doesn't report *why* fcntl fails"
If `fcntl` fails, we don't specify why.  The trick is getting at `errno`, but this will help us debug problems that users have.

[2015-06-14 20:30] hoelzro commented on #3
This works now!

[2015-06-14 20:30] #3 closed

[2015-06-14 20:37] hoelzro commented on #4
This is done now!

[2015-06-14 20:37] #4 closed

[2015-06-14 20:39] hoelzro commented on #5
Since I've fixed up the constants to be more portable, and I think the only two errors we can get are `EBADF` or `EINVAL`, I think this can be deprioritized until it becomes an actual problem.

[2015-12-04 14:42] vytas-dauksa opened #9 "Perl6 REPL can't find liblinenoise.so"
Perl6 REPL doesn't start after installing Linenoise

[code]

[2015-12-04 14:44] hoelzro commented on #9
@vytas-dauksa Thanks for the report; this is due to a recent change in how module installation works with Rakudo.  I'll fix this up if there's a change needed on the module side after the necessary code lands in Rakudo.

[2015-12-05 00:43] hoelzro opened #10 "Use %?RESOURCES to load helper library"
This is awaiting implementation of `%?RESOURCES`

[2015-12-05 00:45] hoelzro commented on #9
I got this working through a horrible hack (9f79f92) and have created an issue to use `%?RESOURCES` after it's been implemented (#10)

[2015-12-05 00:45] #9 closed

[2015-12-18 11:28] con-mo8 commented on #10
Looks like this is still an issue even with the resources precomp stuff https://gist.github.com/con-mo8/a760e1424b50ac0a8589

[2015-12-18 16:53] hoelzro commented on #10
@con-mo8 Thanks for the report; which OS are you on?

[2015-12-18 17:40] hoelzro commented on #10
Ok, I know what's going on.  You appear to be on OS X, where the shared object extension is `.dylib`.  Linenoise installs a fake `.so` and `.dll` file (for resources reasons), and it finds which among the `.dylib`, the `.so`, and the `.dll` is not an empty file and tries to use that.  I couldn't use `touch` to create an empty file, so I, like an idiot, used `perl6 -e "say ''"`, which will create a

[2015-12-18 17:50] hoelzro commented on #10
@con-mo8 Alright, this should be fixed now; thanks for your patience.  Please give it a try and let me know if it worked!

[2015-12-19 14:16] MattOates commented on #10
Sorry, yeah OSX 10.10.5 and Rakudo version 2015.11-679-g9b40ea6 built on MoarVM version 2015.11-106-g7545aa9 implementing Perl 6.b.

From a fresh install again:

[code]

[2015-12-19 20:09] hoelzro commented on #10
@con-mo8 It turns out a change was made to panda that causes Linenoise to fail; I'm probably missing something in META.  I'll try to fix this today.

[2015-12-21 18:45] hoelzro commented on #10
@con-mo8 This should be resolved now; please give it a try and let me know how it goes!

[2015-12-28 16:02] hoelzro commented on #10
@con-mo8 I'm going to mark this as closed; let me know if you see the issue again in the future.

[2015-12-28 16:02] #10 closed

[2015-12-31 02:32] dankogai opened #12 "Ctrl-Z is ignored on OS X v10.11"
Just as the title says.

FreeBSD 10.2 and Ubuntu 14.04-LTS
[code]

Is it related to https://github.com/antirez/linenoise/pull/82 ?

[2016-01-02 20:56] hoelzro commented on #12
@dankogai Thanks for bringing this to my attention!  I'm a little confused, though; is the problem that `perl6` _does_ suspend when you press Ctrl-Z, or that it doesn't?  The title makes it sound like the latter, but your example looks like the former.

[2016-01-02 21:04] dankogai commented on #12
perl6 does suspend on Ctrl-Z.

[code]

But when perl6 REPLs with Linenoise, Ctrl-Z is ignored.

[2016-01-02 21:07] hoelzro commented on #12
Ok, thanks for clearing that up!

[2016-01-05 14:19] hoelzro commented on #12
@dankogai I'll work on integrating that patch today.

[2016-01-06 02:50] hoelzro commented on #12
@dankogai I integrated the patch on the ctrl-z branch of this repository; however, the patch doesn't seem to properly handle Ctrl-C.  Until the upstream PR handles that, I'll leave the branch up.

[2016-02-05 18:03] fecundf opened #13 "Linenoise not installing cleanly from Pando on Win32 R* 2016.01"
I noted on the user-experience page that LineNoise wasn't installing for my rakudo*... here is the full output from my attempt, using the 32-bit Rakudo \* from the official ".msi" (on a 32-bit Windows 10 laptop). in this case it depended on nmake which I must not have.

FWIW, I do have Strawberry Perl installed and in the path, it provides C:\Strawberry\c\bin\gmake.exe and other compiler tools.

P

[2016-02-05 18:09] hoelzro commented on #13
@fecundf Thanks for the report; I have a feeling that the Rakudo msi was built with nmake, so Rakudo's internal configuration probably is telling Linenoise to use nmake to build itself.

Could you post the results of the following?

[code]

[2016-02-07 16:20] fecundf commented on #13
Posted it at https://gist.github.com/fecundf/4fa92bb4e07eed758112

Also, a few months ago I went thru the trouble of building rakudo/Moar using the gcc toolchain included with Strawberry Perl on this same machine; I have bits and pieces from that mixed in with the 2016.01 R*. I am about to delete all my Rakudo directories and re-install from the MSI to have a clean install..

[2016-02-07 16:49] hoelzro commented on #13
@fecundf Judging from the output, it looks like my hypothesis is true.  We'll find out for sure when you re-install.

[2016-02-07 20:31] fecundf commented on #13
Cleaned out my old rakudo directory, used the uninstall control panel to remove old Rakudo as well, did a clean install of 64-bit R\* 2016.01, and same error of it looking for nmake and not installing Linenoise.

[2016-02-07 20:32] fecundf commented on #13
ps. when I first opened this, I was using a 32-bit Windows laptop, now I am on a 64-bit Windows laptop. Same error on both architectures.

[2016-02-07 21:28] hoelzro commented on #13
@fecundf Thanks for checking; I'll talk with some of the other developers and see what we can do to address this.

[2016-06-13 20:26] Altai-man opened #14 "Auto-complete still needs improvement"
Sorry, I'm not aware about state of the project, and it's hard to distinguish underlying library troubles with wrapper library troubles, but anyway.

With latest rakudo, moarvm/nqp, latest Linenoise is unable to process tab pressing correctly. While auto-complete with empty line is fine like this:
[code]
it can't write actual tab character itself in string literal:
[code]
If I by hands copy-paste

[2016-06-13 20:34] hoelzro commented on #14
@Altai-man So the problem is that you can't use the tab character to insert a literal TAB character into a string?

[2016-06-13 20:36] Altai-man commented on #14
@hoelzro right, exactly. I wanted to know is it just mine problem and a bug or it's just "work in progress".

[2016-06-13 20:43] hoelzro commented on #14
This is a limitation of how aware of the context rakudo's usage of this library is.  The REPL isn't quite smart enough to know if it's in a string or not.  I would like for the REPL to be smarter about the context of the code, but that's no small task.  It's not really Linenoise's fault, though.

[2016-06-13 20:53] Altai-man commented on #14
I suppose you already thought about it, but can we in the REPL wrapper code look at the previous character before cursor? If so, we can check is it nothing(e.g. start of line) or space, and don't complete it(since it's probably meaningless), and when we have some character(s) before - to do an attempt to complete it then. Just a pure concept.

[2016-06-13 20:56] hoelzro commented on #14
@Altai-man Rakudo already does some rudimentary checking; I don't know if removing completions mid-line is a good idea, though.  Imagine if someone types the following:

[code]

Now, Rakudo doesn't implement this (yet), but I would love for the REPL to offer `Str` methods that begin with `sub` to the user.  What Rakudo _does_ implement is completion of class names.

Either way, that's an issue for

[2016-06-13 20:59] Altai-man commented on #14
Ah, I understand now. Yes, then it's definitely time to wait for rakudo changes. Obviously, can be closed.

[2016-06-13 20:59] #14 closed

[2016-07-08 17:22] zoffixznet opened #15 "Build Failures"
[code]

[2016-07-08 20:53] hoelzro commented on #15
@zoffixznet Would you mind trying this again? I just tried installing Linenoise with both panda and zef, and both worked for me.

[2016-07-08 22:02] zoffixznet commented on #15
Tried it on a fresh build and everything worked fine.

`¯\_(ツ)_/¯` maybe it's just my other box is busted.

[code]

[2016-07-08 22:02] #15 closed

[2016-12-30 12:45] stmuk opened #17 "Linenoise broken on Windows as of 2016.11"
I had to revert the version of Linenoise shipped with star to the one before Native::Resources removal in order to get it to work on Windows 10/mingw (from Strawberry Perl)

[2017-01-01 01:37] webstrand opened #18 "Segmentation Fault When Typing Verbatim Tabs"
To reproduce, enter two consecutive verbatim tabs (ctrl-v tab) and the process dies with SIGSEGV.

I built moarvm, nqp, and rakudo from git at tag 2016.12 with gcc 6.2.1 and clang 3.9.1 on up-to-date Archlinux.

Backtrace:

    #0  0x00007ffff7921bdb in callback_handler (cif=<optimized out>, cb_result=<optimized out>, cb_args=<optimized out>, cb_data=0x334b4b0) at src/core/nativecall_libffi.c:251

[2017-01-01 21:29] hoelzro commented on #18
@webstrand Hi there! Thanks for reporting the issue - I just tried it on the latest MoarVM, NQP, and Rakudo, and I can't reproduce the error there (using gcc 6.2.1 on up-to-date Arch as well).  Could you try building Rakudo from nom and see if you can reproduce the problem there?

[2017-01-01 21:30] hoelzro commented on #17
@stmuk What kinds of problems did you see with the latest linenoise?

[2017-01-02 21:29] ugexe commented on #17
The problem is the make file has a hard coded `liblinenoise%SO%` but also relies on the `$*VM.platform-library-name` elsewhere which doesn't prefix the library name with 'lib'. So it fails trying to find `liblinenoise.dll` when it should be `linenoise.dll`

I've fixed that issue in #19, but starting linenoise via `perl6` after install prints out a message about a missing symbol. I suspect this is

[2017-01-05 02:33] hoelzro commented on #17
@ugexe Thanks for the feedback - I've merged your PR.  Is there other work that needs to be done for this to work on Windows?

[2017-01-05 02:49] ugexe commented on #17
Yes, you need to implement something like https://github.com/sergot/openssl/blob/91efa8c4f53e86501f23b3a6aeb4184cfedbfa9f/lib/OpenSSL/NativeLib.pm6 and replace your use of `%?RESOURCES<libraries/linenoise>` with something like the `&ssl-lib` from OpenSSL/NativeLib.pm6. The purpose of NativeLib.pm6 is that on Windows it copies the installed `perl6/install/site/resource/lakjf09jf2093jf.dll` to a tem

[2017-01-09 14:26] hoelzro commented on #18
@webstrand Are you still able to reproduce the issue?

[2017-01-09 14:57] hoelzro commented on #17
@ugexe I'm kind of loathe to copy/paste some DLL-fixing code from the OpenSSL module, partially since it doesn't have a license in place.  I don't like Linenoise being broken on Windows, but perhaps it would be better to wait for the CompUnit system to support the non-workaround behavior you described above.

[2017-01-31 14:12] hoelzro commented on #18
(bump)

[2017-02-21 14:16] #18 closed

[2017-04-24 06:26] samcv opened #20 "Able to merge in UTF-8 supporting fork of Linenoise into our version?"
See here:
https://github.com/yhirose/linenoise/tree/utf8-support

Would be great if we had UTF-8 support for this, as it's really an issue especially for a programming language that can use Unicode characters.

[2017-04-26 18:38] hoelzro commented on #20
UTF-8 support would be fantastic!  I worked on this a little bit last year, but I don't remember which stumbling blocks I encountered that prevented me from finalizing the work.  I'm on vacation right now, but I'll have a look after I get back.

[2017-04-26 18:43] hoelzro commented on #20
Another fork worth looking at: https://github.com/arangodb/linenoise-ng

[2017-04-26 18:47] hoelzro commented on #20
Other work in this area:

  * https://github.com/antirez/linenoise/pull/27
  * https://github.com/antirez/linenoise/issues/25

[2017-04-26 18:49] hoelzro commented on #20
(Note to self: look at journal entries for late March/early April 2016)

[2017-05-04 00:51] hoelzro commented on #20
Another fork to consider incorporating (not UTF-8 related, but still): https://github.com/antirez/linenoise/issues/113

[2017-05-04 21:58] samcv commented on #20
linenoise-ng supposedly has Windows support. That would be really awesome :) Then we can support UTF-8 and all operating systems!

[2017-05-07 22:05] hoelzro commented on #20
@samcv I added support in the `multi-byte` branch - I can't merge this until LibraryMake provides a C++ equivalent to `CC` and other `Makefile.in` variables, though.  I'm currently using some GCC-specific build flags to get it working on Linux, but it won't work on Windows (unless GCC is used there too)

[2017-09-08 09:54] sumandoc opened #22 "Build failing while installing Linenoise"
Hi there,

I am trying to install Linenoise in [this docker image](https://hub.docker.com/r/sumdoc/perl-6/).
But the build is failing and throwing this error:
[code]

I couldn't make out anything from error message.

Any help!!

Best,
Suman

[2017-09-08 10:07] sumanstats commented on #22
It got resolved after installing`apt-get build essential`.
This was the dockerfile.
[code]
Now I am going to modify the docker image.

Thanks,

[2017-09-08 13:28] hoelzro commented on #22
@sumandoc Since you worked out the problem, is it ok to close this issue?

[2017-09-08 13:59] sumanstats commented on #22
@hoelzro Yes.

I would highly recommend to mention the exact dependencies of `Linenoise` in `README` file, because I get it to working after installing `apt-get install build-essential` which of course brings many unwanted tools along with it.
This package is a requirement while making [this image](https://hub.docker.com/r/sumdoc/perl-6-notebook/). I even [wrote a blog on it ](https://sumdoc.wordp

[2017-09-08 15:35] hoelzro commented on #22
@sumandoc Thanks for the tip - I'll add a notice about `build-essential` to the README.  UTF-8 support is present in a branch (see #20), but I need some features in LibraryMake in order to merge it.

[2017-09-09 20:52] #22 closed

[2017-09-21 05:49] lefth opened #23 "When building on Windows in the Cmder (or possibly msys), the build script invokes Linux commands"
I'm inclined to say that even though there is a "sh" command available, all windows builds should be treated as pure windows builds, and not invoke bash scripts. (Rakudo doesn't currently build for Cygwin, and msys/Cmder are simply a more friendly interface to native Windows executables.)

Note that when I re-ran the build in cmd.exe, it worked without error.

Output:
===> Building: Linenoise:ver<

[2017-09-21 15:17] hoelzro commented on #23
I'm guessing this is the doing of `make` - I'm only really familiar with using `make` to build things, so if you have a suggestion on how I could build the necessary binary components without using make on Windows, I would really appreciate it!

[2017-09-22 04:38] lefth commented on #23
It does work on Windows, but only in the main CMD.exe command shell. I'll
have a look and see if I can tell why "sh" is being invoked.

On Thu, Sep 21, 2017 at 11:20 PM Rob Hoelz <notifications@github.com> wrote:

[2017-09-22 11:59] lefth commented on #23
I can't find the cause. This is surely a bug in make, or possibly the way Cmder invokes make. I'm closing this, because in either case, it's not something you can reasonably fix.

[2017-09-22 11:59] #23 closed

[2017-09-22 16:47] hoelzro commented on #23
I don't think it's a bug in make - make happens to invoke sh to execute commands.  The only way I can see this being fixed, however, is to not use make.  The makefile isn't terribly complicated, fortunately, so maybe we could invoke the commands directly in Perl 6.

[2017-09-22 17:32] lefth commented on #23
Make invokes sh on Windows as well? If that's the case, it could be that
Cmder is losing/changing the PATH variable. I'll look at that next week,
and also compare behavior with the other two related console emulators:
Cmder lite (without unix executables), and ConEmu.

On Sat, Sep 23, 2017, 12:47 AM Rob Hoelz <notifications@github.com> wrote:

[2018-05-07 11:14] stmuk opened #24 "Linenoise warning on Windows 10 with 2018.04.1"
[code]

[2018-05-08 21:22] nxadm opened #25 "Linenoise builds OK but fails to install on Ubuntu 18.04 amd64"
Linenoise builds OK but fails to install on Ubuntu 18.04 amd64. Yet an OK status is returned.

[code]

When the REPL is run, Linenoise fails:
[code]

[2018-05-11 02:46] hoelzro commented on #25
Looks like #24 - does this happen on earlier versions of Ubuntu as well?  What version of Rakudo/NQP/MoarVM are you using?

[2018-05-11 07:45] nxadm commented on #25
I didn't experienced it on earlier versions of Ubuntu. Just to be sure, I launched a Ubuntu 16.04 container, installed build-essential, git and rakudo (rakudo-pkg deb) and installed Linenoise with zef. It worked.

I am using the latest dot releases (2018.04.1) of Rakudo, NQP and MoarVM:
$ perl6 -v
This is Rakudo version 2018.04.1 built on MoarVM version 2018.04.1
implementing Perl 6.c.

[2018-05-18 06:21] nxadm commented on #25
"Use of Nil in string context
  in block  at home#sources/0BDF8C54D33921FEA066491D8D13C96A7CB144B9 (Linenoise) line 15"

Of of those times I miss having regular names instead of hashed strings for filenames...

[2018-06-17 18:40] hoelzro commented on #13
This is over two years old and Panda is (to my knowledge) no longer supported; I'm going to go ahead and close this.

[2018-06-17 18:40] #13 closed

[2018-06-17 18:41] hoelzro commented on #25
So this was a rakudobug; I have submitted a fix in this PR: https://github.com/rakudo/rakudo/pull/1934

[2018-06-17 18:41] hoelzro commented on #24
This is a rakudobug; I have submitted a fix as a PR: https://github.com/rakudo/rakudo/pull/1934

[2018-06-19 14:20] hoelzro commented on #24
The PR has been merged; please test this out with the latest Rakudo from master and let me know if it's still an issue!

[2018-06-19 14:20] hoelzro commented on #25
The PR I submitted has been merged; please try this again with the latest Rakudo from master and let me know if it fixed it for you!

[2018-06-23 14:19] hoelzro commented on #25
It seems that the PR fixed the issue - closing!

[2018-06-23 14:19] #25 closed

[2018-06-23 14:19] hoelzro commented on #24
@stmuk Could you try this again on a Rakudo built from master to verify the fix?

[2018-06-24 12:55] nxadm commented on #25
I can confirm that on my 2018.06 install, it works flawlessly. Thank you, @hoelzro !

[2018-07-09 15:13] hoelzro commented on #24
Since the error message is the exact same and the fix was not platform-specific, I'm going to close this issue.  Please re-open if it presents itself in the future!

[2018-07-09 15:13] #24 closed

[2018-08-06 16:58] stmuk opened #26 "Broken on Windows 2018.06"
[code]

[2018-08-07 19:16] hoelzro commented on #26
@stmuk This reminds me of #24 - did you happen to see if my [fix back in June](https://github.com/rakudo/rakudo/commit/91b211ac2) fixed that issue on Windows?  If it didn't, then I'm guessing it's related to that; if it did, I'll start investigating elsewhere.

[2018-08-10 04:03] hoelzro commented on #26
@stmuk This should be all fixed on master now!

[2018-08-10 04:03] #26 closed

[2018-08-10 06:36] stmuk commented on #26
👍

[2018-09-06 20:42] mcreenan commented on #20
Are the requirements from LibraryMake available now?

If not, how can I point my project to use the multi-byte version of this?  I've tried to clone the repository and build it myself, but there are no "build from source" instructions and I was unable to figure it out on my own.

Thanks!

[2018-09-07 03:41] hoelzro commented on #20
@mcreenan I just took a quick look at the LibraryMake source - from what I can tell, sadly, that information is still not available =(

If you're using GCC, cloning the repository and doing a `zef install .` _should_ just work - let me know if it doesn't.  If you're willing to put in the time, the C++ code could be ported to straight up C, and then I could merge the branch into master!

[2018-09-07 12:52] mcreenan commented on #20
Ah. `zef install .` did work after I uninstalled the published version.  Thanks!

I'll look into porting, but I haven't done C or C++ in 10+ years.

[2018-10-05 14:24] mklement0 opened #27 "On macOS, after invoking PowerShell Core / with PowerShell Core as the default shell, Perl6's command-line editing is broken"
Note: Apologies if this isn't the right place to post this; my assumption is that Linenoise is what is being used for command-line editing in Perl 6 on macOS; this post is a modified version of one first posted in the PowerShell repo, https://github.com/PowerShell/PowerShell/issues/7920

---

Observed in both Terminal.app and iTerm2.

Once you invoke PowerShell in a given Bash session, using the a

[2018-10-06 02:07] hoelzro commented on #27
Thanks for the very thorough report, @mklement0!  This is going to be a little tricky since I don't have a macOS machine to develop on, but maybe we can figure this out.  Does `perl6` print any warning messages or anything when you invoke it after powershell?  And, just to make sure I'm understanding you correctly - this is running `perl6` from bash itself after powershell has exited, and not runn

[2018-10-06 02:10] hoelzro commented on #27
Also, I'm curious to see if this happens with the example program from https://github.com/antirez/linenoise

[2018-10-07 02:39] mklement0 commented on #27
@hoelzro:

No warning or messages are printed.

It happens in _both_ cases.

Yes, it also happens with the example program.

[2018-10-08 02:46] hoelzro commented on #27
@mklement0 Thanks for the follow-up!  If it happens with the example program distributed with Antirez' linenoise, it's a linenoise issue, not a Perl 6 issue.  Sorry to keep redirecting you, but it should probably be handled upstream!

[2018-10-08 03:08] mklement0 commented on #27
No worries at all, @hoelzro - I appreciate the guidance; new issue opened at https://github.com/antirez/linenoise/issues/165

[2018-10-08 03:08] #27 closed

[2018-10-24 19:19] boris-mb commented on #24
PS C:\boris> zef install Linenoise --force-install
===> Searching for: Linenoise
Enabled extracting backends [path tar psunzip] don't understand C:\Users\new_d/.zef/tmp\1540408292.5748.7603\p6-linenoise.git
You may need to configure one of the following backends, or install its underlying software - [git p5tar unzip]

[2018-10-24 19:58] hoelzro commented on #24
@boris-mb Thanks for the report - that looks more like an issue with `zef` trying to make sense of the Linenoise repository rather than a Linenoise build problem; do other modules install ok?

[2019-02-08 22:38] raiph opened #28 "/bin/ld: cannot find -luv"
TL;DR:

* Why does linenoise need libuv?

* @con (see below) didn't come here to try figure their issue out. If they had, and had followed the procedure I followed (take something from the error message and search for it) then "luv" wouldn't have helped and "ld" would have gotten a makefile line but then what? How would I or @con have been able to figure out the issue was libuv from that? Or some

[2019-02-09 15:13] hoelzro commented on #28
Thanks for forwarding the report to me @raiph - that line you posted is filled in by LibraryMake, which uses the build flags from `$*VM` to populate the template.  I spun up a little VM with CentOS 7 to try to reproduce this - no dice, unfortunately.  However, I have a theory:

My guess is that the user installed a pre-built `perl6`/`rakudo` package that uses a MoarVM built against the `libuv` tha

[2019-02-12 19:09] hhg7 commented on #28
@hoelzro I installed rakudo/perl6 with `yum` at the command line, but I had a similar issue with `apt-get install` on Ubuntu.  I installed perl6 on Ubuntu with `sudo apt-get install perl6`

[2019-02-12 21:46] hoelzro commented on #28
@hhg7 Is that rakudo/perl6 package in the default CentOS repos? Also, which version of CentOS are you using?

[2019-02-13 01:01] raiph commented on #28
Rob, have you read [(answer to) How can I figure out why Linenoise is failing to install?](https://stackoverflow.com/a/41418667/1077672)? This led to [a PR](https://github.com/hoelzro/p6-linenoise/pull/19) which you merged but I think it's important you read that SO answer. Also, from the merged PR:

That's not directly relevant here because that's windows and this is linux but thought I'd mention

[2019-02-13 03:36] hoelzro commented on #28
@raiph I haven't seen that SO thread - thanks for pointing it out! That issue sounds more like a problem with hardcoding DLL/SO prefixes; this issue sounds more like "MoarVM is telling Rakudo that it was built with `-luv` in its linker flags".

[2019-02-13 22:12] raiph commented on #17
I'm not a windows user and I'm not aware of anyone newly complaining about this but I encountered this issue while following up on another issue, and then dug a bit further to understand the status of this issue, and think it would be useful to update this issue with what I see, especially point 4:

1. Aiui, Linenoise works on windows for rob but is broken for at least ugexe and stmuk and maybe ot

[2019-02-13 23:35] hoelzro commented on #17
@raiph Thanks for filling in this information! BTW, do you know of anyone would like to take over maintainership of Linenoise?  I haven't worked on Perl 6 for a while and free time is at a premium for me, so I can't really give it the love and attention it deserves!

[2019-11-16 11:20] Prince213 opened #29 "can't install Linenoise on Windows"
Hi, I'm trying to install Linenoise with zef, and got a warning similar with #25:
[code]
When I run REPL, this warning is emitted:
[code]
Environment:
zef version: `v0.8.2`
Rakudo version:
[code]

[2019-11-16 15:19] hoelzro commented on #29
Hello,

I've stopped working on this library - I recommend reaching out to the fine folks at `#raku` on [IRC](https://raku.org/community/irc) and seeing if they can help you out!

[2019-11-16 20:01] JJ commented on #29
If that's the case, maybe you can give someone else privileges to keep working on this? This is still part of Rakudo Star (until, probably, next release)

[2019-11-17 02:36] hoelzro commented on #29
@JJ Sure, I'd be happy to! How do you feel about me transfering ownership to the perl6 organization?

[2019-11-17 02:57] Prince213 commented on #29
@hoelzro It will be great if this library continues to be maintained as Readline is too big for command line editing and requires a lot of efforts to make it work on Windows.

[2019-11-17 07:39] JJ commented on #29
@hoelzro if there's not anyone else wanting to co-maintain it, we could transfer it to `perl6-community-modules`

[2019-11-17 10:06] Prince213 commented on #29
@JJ Good idea. It's really important for editing experience.

[2019-11-17 13:18] hoelzro commented on #29
Sounds good - consider it done!

[2019-11-17 13:20] hoelzro commented on #29
Ok...I tried, but GitHub tells me I lack the permissions to create public repositories on `perl6-community-modules` =/

[2019-11-17 13:45] Prince213 commented on #29
@hoelzro I guess you need be a member of `perl6-community-modules` first. Maybe you should connect someone in `perl6-community-modules`.

[2019-11-17 14:41] JJ commented on #29
We need to do it by hand, I think. No problem, once I have your permission.

El dom., 17 nov. 2019 14:20, Rob Hoelz <notifications@github.com> escribió:

[2019-11-17 18:58] hoelzro commented on #29
@JJ Sounds good - do I just add you as a co-maintainer, then?

[2019-11-17 19:09] JJ commented on #29
I think that might be a better option than just moving it... I don't know
much about Windows, but I guess I could have a go at the other issues.
Thanks!

El dom., 17 nov. 2019 a las 19:58, Rob Hoelz (<notifications@github.com>)
escribió:

--
JJ

[2019-11-17 19:11] hoelzro commented on #29
@JJ Ok, you should have an invite to be a collaborator now.  I'd prefer if the repo were moved under the perl6 umbrella, just so there's no confusion about my ability to contribute fixes in the future!

[2019-11-17 19:25] JJ commented on #29
the problem is that we would lose the issues, we would need to re-release
it, and it would be generally problematic. Let's give this a try and see if
we can come up with a solution that gets it back into Rakudo Star; I'll try
to get some more people to help too and might ask you to add them to the
repo. The problem is that moving it to the perl6-community-modules repos
does not guarantee anyone ad

[2019-11-18 06:41] JJ commented on #29
This is line 15:

        my constant LIBLINENOISE = %?RESOURCES<libraries/linenoise>.Str;

I think it's simply failing to find the library in Windows. I guess this can be fixed with instructions, more than any other thing...

[2019-11-18 06:51] JJ commented on #29
From here: https://github.com/antirez/linenoise/issues/113 it looks line the underlying linenoise library does not work in Windows, and has apparently never had. The issue selects several alternatives, mostly written in C++, which are also mentioned in this README.md. The problem is that I have no idea if the library itself is compatible; also, C++ and the Native interface are probably not a good

[2019-11-18 06:54] JJ commented on #17
OK, I guess that'll have to be us. This one is a blocker for #29, so we'll try this one to go first.

[2019-11-18 06:55] JJ commented on #29
OK, so it might be fixable after all, according to #17. But you'll need to use mingw.

[2019-11-19 05:48] hoelzro commented on #29
@JJ The linenoise code in this repo is actually from a MoarVM-based fork (see 72003ff) that supports Windows - I'm guessing the use of `%?RESOURCES` needs to change.  You might find d0a2ec0a and f368fe0d useful to look at for ideas

[2019-11-19 08:11] JJ commented on #29
Thanks!

El mar., 19 nov. 2019 a las 6:48, Rob Hoelz (<notifications@github.com>)
escribió:

--
JJ

[2019-11-21 12:44] Prince213 commented on #29
@hoelzro Does this module work in Linux without modifications?

[2019-11-23 15:13] niner opened #31 "Module depends on implementation details and has packaging issues"
This module's build process does some crazy and completely unnecessary things. E.g. it will only work when installed to the site repository:
https://github.com/hoelzro/p6-linenoise/blob/76f4b2dbbb8ce0f516aea1e0dd1423234a69817f/fill-constants.pl#L28

It expects a `dist` subdirectory in the site repository containing a file matching the dist-id obtained from %?RESOURCES:
https://github.com/hoelzro/p

[2019-11-24 00:45] ugexe commented on #31
Most of the problems listed were also only merged today via https://github.com/hoelzro/p6-linenoise/pull/30

[2019-11-24 14:57] hoelzro commented on #31
@niner Would you mind editing the description to change the code links to use `76f4b2d` as opposed to `master`?  I can edit it myself if you you'd prefer - I just want to make sure that's ok with you first!

As far as your question "Why does the distro even generate Perl 6 code at build time" goes - I needed to do this because I needed to call `fcntl` with the proper values to make linenoise work

[2019-11-24 15:15] niner commented on #31
On Sonntag, 24. November 2019 15:57:08 CET Rob Hoelz wrote:

Done!

Even so, there was no need to generate Perl 6 code. It's easier to create
a libconstant-helper.so and call its functions at BEGIN time, like in this
example:
https://github.com/niner/Inline-Perl5/blob/master/lib/Inline/Perl5/Interpreter.pm6#L12

Or nowadays since there's already a bundled liblinenoise.so put the helper
functions t

[2019-11-24 15:18] hoelzro commented on #31
@niner Thanks!

Also, good point!  I wish I'd thought of that years ago :sweat_smile:

[2019-11-24 15:19] hoelzro opened #33 "Remove code generation"
See https://github.com/hoelzro/p6-linenoise/issues/31#issuecomment-557897984

The module doesn't need to generate code anymore, so let's remove that to make packaging and stuff easier in the future.

[2019-11-24 17:14] JJ commented on #31
You can always use a custom Dockerfile for testing. I don't think that should be a problem. Whatever you can do by hand, you can automate via Dockerfiles or otherwise.

[2019-11-24 18:26] hoelzro commented on #31
@JJ I think that's a good idea - I think maybe that goes nicely with GitHub actions

[2019-11-27 06:52] JJ opened #34 "Add tests"
Add tests for several platforms.

[2019-11-27 06:57] JJ commented on #33
Could constants, for instance, be written to a JSON file that's installed?
It's possible also that those functions are now in the ecosystem. There's [this implementation of fcntl](https://github.com/manchicken/perl6-Fcntl), for instance.

[2019-11-27 07:03] JJ commented on #33
Except that one [fails to install](https://github.com/manchicken/perl6-Fcntl/issues/2)...
So it'll have to be helper functions in linenoise.c as indicated in #31

[2019-11-28 07:18] JJ commented on #34
Well, GitHub actions are not giving us a lot of information on why it fails, but at least, if it does not, we know it works. We need to add proper tests now.

[2019-11-28 18:45] JJ commented on #17
For the time being, the Makefile (and some paths) are Linux-specific. I'm trying to find a way to compile it, in its current version, in Windows, and eventually I think we'll have to create two separate Makefiles.

[2019-11-28 18:52] JJ commented on #17
OK, [this is working now in Windows](https://github.com/hoelzro/p6-linenoise/commit/37f5b25a2e76837c7df8303f9d4014b7a2ce77bf/checks?check_suite_id=333724895) so we have at least a procedure to carry it out. I'll try and find a way to put this in the Makefile so that it's OS-independent.

[2019-11-28 19:12] JJ opened #36 "Library detection problems in OSX"
According to [this commit](https://github.com/hoelzro/p6-linenoise/pull/35/commits/042a6e51bf0817e45d72aaa9f8229f96deb119ce), which has been apparently deleted, there seems to be a problem with detection in OSX.
According to @ugexe:

CLIB helper related to unboxing. I'm not sure why reworking the
`Str` out of the sub fixes anything.

We need to add tests for OSX, as well as get that code back when

[2019-11-28 19:22] JJ commented on #36
The tests in MacOS seem to [work fine](https://github.com/hoelzro/p6-linenoise/commit/4b98fe19b999a6da63f7427ab77f22e78739af88/checks?check_suite_id=333755645).

[2020-06-02 08:05] ElectricCoffee commented on #28
I'm having the same issue on Ubuntu.
Running `zef install Linenoise` results in the following error
[code]
My system has a package called `libuv1` installed, which seems to be the current version of the `libuv` dependency on Ubuntu, but the installer doesn't seem to recognise that.

[2020-06-18 22:55] raiph commented on #28
Quoting https://colabti.org/irclogger/irclogger_log/moarvm?date=2020-06-10#l55:

[2020-06-21 19:07] raiph commented on #28
Hi @ElectricCoffee,

Stefan's comment (above) suggests MoarVM normally ships with its own libuv but that your MoarVM perhaps doesn't. If you could post details about your MoarVM install beyond "Ubuntu", and especially the build log showing your MoarVM build output, that would be wonderful.

[2020-06-21 20:40] ElectricCoffee commented on #28
@raiph how do I provide this information?

[2020-06-27 15:46] raiph commented on #28
@ElectricCoffee

Two options I can think of:

1. We dialog about how you got Rakudo onto your Ubuntu in the first place, and then we try figure out if the build logs are still available; or, perhaps way easier:

2. You remove Rakudo, then install it again, but this time with the specific intent of grabbing the output from the building process and copying that into a gist, and also rerunning `zef i

[2020-06-29 07:24] ElectricCoffee commented on #28
@raiph Here's the installation:
[code]
And here's installing Linenoise
[code]

[2020-07-02 14:09] raiph commented on #28
\o/ That's not the build info, but it looks like the package name is enough to pursue this. The first match from [a google for "2019.11+dfsg-2build2"](https://www.google.com/search?q=%222019.11%2Bdfsg-2build2%22) is https://launchpad.net/ubuntu/+source/moarvm. Clicking on the 2019.11+dfsg-2build2 link on that page gets us to https://launchpad.net/ubuntu/+source/moarvm/2019.11+dfsg-2build2 which sa

[2022-10-24 05:58] jubilatious1 opened #37 "https://github.com/rakudo/rakudo/issues/5087"
https://github.com/rakudo/rakudo/issues/5087

@hoelzro

[2022-10-24 10:19] JJ commented on #37
Possibly a LibraryMake dependency? Only one there...

[2022-10-24 10:28] JJ commented on #37
Got lost getting to [File::Which](https://raku.land/github:azawawi/File::Which) I have no idea where that dependency comes from. Can we maybe get the whole dep tree with the module Will Coleda created?

[2022-10-24 10:29] JJ commented on #37
That one is [not working in Windows](https://github.com/azawawi/raku-file-which/actions/runs/3116942115/jobs/5055214660) anyway.

[2022-10-24 11:30] patrickbkr commented on #37
I'm pretty sure this has nothing to do with linenoise. I'm closing this issue in favor of https://github.com/rakudo/rakudo/issues/5087

[2022-10-24 11:30] #37 closed

[2022-10-24 12:10] JJ commented on #37
How come it not have anything to do with Linenoise if it's literally happening when installing Linenoise?

[2022-10-24 13:19] patrickbkr commented on #37
I now (manually) traced through the dependency tree:
linenoise -> LibraryMake -> Shell::Command -> File::Which

It would have been a very hideous bug in linenoise (and it's META6.json) that manages to establish a dependency on Win32::Registry without being obvious in its META6.json. That's why I said that I'm pretty sure it's not linenoises fault after having looked at its META6.json and rememberi

[2022-10-24 13:21] JJ commented on #37
Thanks for the explanation.

[2022-10-24 15:06] jubilatious1 commented on #37
I cross-posted this with the Rakudo repo because it's such an important bug.

If bugs like this can occur with critical modules, people won't adopt the language and ecosystem.

Is there any way of protecting Raku Community Modules that provide critical infrastructure?

The top 3 Raku/Rakudo modules in my mind are:

1. zef
2. Readline
3. Linenoise

Assuming here that the problem is with the `Win32:

[2022-10-24 15:16] patrickbkr commented on #37
IMHO the fundamental problem is the suboptimal behavior of P6C that introduces a hard to track and control mutability into installations. The way forward we as a community have decided on is deprecating P6C and moving forward with the zef/fez ecosystem.
See https://github.com/Raku/problem-solving/pull/318/files
I'll have to follow up how the REA harvester deals with version numbers and whether the